<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @job.position %> at <%= @job.company %></h1>
    <% if @job.submission.nil? %>
        <%= link_to "Take Survey", job_survey_path %>
    <% else %>
        <%= link_to "Edit Submission", edit_submission_path(@job.submission) %>
    <% end %>
    <p>Pay: <%= @job.pay %></p>
    <p>Location: <%= @job.location %></p>
    <p>Benefits: <%= @job.benefits %></p>
    <p>Responsibilities: <%= @job.responsibilities %></p>
    <p>Requirements: <%= @job.requirements %></p>
    <%= link_to "Edit", edit_job_path(@job) %>
    <%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Are you sure?"} %>
    <% unless @job.submission.nil? %>
        <h2>Survey Results</h2>
        <% @answers.each do |a| %>
            <p><%= a.question.content %>: <%= a.content %></p>
        <% end %>
    <% end %>
  </div>
</div>