<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @user.full_name %></h1>
    <h2>Create a new task</h2>
    <%= form_for @task do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :due_date %>
      <%= f.datetime_local_field :due_date, class: 'form-control' %>

      <%= f.fields_for @task.reminders.build do |reminder| %>

        <%= f.label :datetime, class: 'checkbox inline' do %>
          
          <div>
            <%= check_box_tag "days[sunday]"  %>
            <span>Sunday</span>
            <%= time_field_tag "sunday_time", Time.now, class: 'time_box' %>
          </div>


          <div>
            <%= check_box_tag "days[monday]"  %>
            <span>Monday</span>
            <%= time_field_tag "monday_time", Time.now, class: 'time_box' %>
          </div>

          <div>
            <%= check_box_tag "days[tuesday]"  %>
            <span>Tuesday</span>
            <%= time_field_tag "tuesday_time", Time.now, class: 'time_box' %>
          </div>

          <div>
            <%= check_box_tag "days[wednesday]"  %>
            <span>Wednesday</span>
            <%= time_field_tag "wednesday_time", Time.now, class: 'time_box' %>
          </div>

          <div>
            <%= check_box_tag "days[thursday]"  %>
            <span>Thursday</span>
            <%= time_field_tag "thursday_time", Time.now, class: 'time_box' %>
          </div>

          <div>
            <%= check_box_tag "days[friday]" %>
            <span>Friday</span>
            <%= time_field_tag "friday_time", Time.now, class: 'time_box' %>
          </div>

          <div>
            <%= check_box_tag "days[saturday]"  %>
            <span>Saturday</span>
            <%= time_field_tag "saturday_time", Time.now, class: 'time_box' %>
          </div>

          <%= hidden_field_tag "time_zone", Time.now.zone %>

        <% end %>

      <% end %>

      <%= f.submit "Create Task", class: 'btn btn-primary' %>

    <% end %>
    <% if @user.uncompleted_tasks.any? %>
      <div class="tasks">
        <h1>Todo Tasks</h1>
        <% @user.uncompleted_tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p><%= task.due_date.strftime("%-m/%e/%Y %l:%M %p") %></p>
            <%= form_for task do |f| %>
              <%= f.hidden_field :completed, value: "true" %>
              <%= f.submit "Complete Task", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @user.completed_tasks.any? %>
      <div class="tasks">
        <h1>Completed Tasks</h1>
        <% @user.completed_tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p><%= task.completed_at.strftime("%-m/%e/%Y %l:%M %p") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>