<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @user.full_name %></h1>
    <h2>Create a new task</h2>
    <%= form_for @user.tasks.build do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :due_date %>
      <%= f.datetime_local_field :due_date, class: 'form-control' %>

      <%= f.submit "Create Task", class: 'btn btn-primary' %>

    <% end %>
    <% if @user.reload.tasks.any? %>
      <div class="tasks">
        <h1>Tasks</h1>
        <% @user.tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p>Due: <%= task.due_date.strftime("%-m/%e/%Y %l:%M %p") %></p>
            <% if task.completed? %>
              <button class="btn">Task completed</button>
            <% else %>
              <%= form_for task do |f| %>
                <%= f.hidden_field :completed, value: "true" %>
                <%= f.submit "Complete Task", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>