<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @user.full_name %></h1>
    <h2>Create a new task</h2>
    <%= form_for @user.tasks.build do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :due_date %>
      <%= f.datetime_local_field :due_date, class: 'form-control' %>

      <%= f.submit "Create Task", class: 'btn btn-primary' %>

    <% end %>
    <% if @user.uncompleted_tasks.any? %>
      <div class="tasks">
        <h1>Todo Tasks</h1>
        <% @user.uncompleted_tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p><%= task.due_date.strftime("%-m/%e/%Y %l:%M %p") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @user.completed_tasks.any? %>
      <div class="tasks">
        <h1>Completed Tasks</h1>
        <% @user.completed_tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p><%= task.due_date.strftime("%-m/%e/%Y %l:%M %p") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>