<% provide(:verb, "Create") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @user.full_name %></h1>
    <h2>Create a new task</h2>
    <%= render 'tasks/form' %>
    <% if @user.uncompleted_tasks.any? %>
      <div class="tasks">
        <h1>Todo Tasks</h1>
        <% @user.uncompleted_tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p><%= task.due_date.strftime("%-m/%e/%Y %l:%M %p") %></p>
            <%= link_to "Edit", edit_task_path(task) %>
            <%= form_for task, url: "/tasks/#{task.id}/complete" do |f| %>
              <%= f.hidden_field :completed, value: "true" %>
              <%= f.submit "Complete Task", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @user.overdue_tasks.any? %>
      <div class="tasks">
        <h1>Overdue Tasks</h1>
        <% @user.overdue_tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p><%= task.due_date.strftime("%-m/%e/%Y %l:%M %p") %></p>
            <%= link_to "Edit", edit_task_path(task) %>
            <%= form_for task, url: "/tasks/#{task.id}/complete" do |f| %>
              <%= f.hidden_field :completed, value: "true" %>
              <%= f.submit "Complete Task", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @user.completed_tasks.any? %>
      <div class="tasks">
        <h1>Completed Tasks</h1>
        <% @user.completed_tasks.each do |task| %>
          <div class="task">
            <h3><%= task.name %></h3>
            <p><%= task.description %></p>
            <p><%= task.completed_at.strftime("%-m/%e/%Y %l:%M %p") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>